.about-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }
  
.about-top .about-contact {
    margin-bottom: 30px;
  }
  
.about-top .about-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
  }
  
.about-top .about-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }
  
.about-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
  }
  
.about-top .about-links {
    margin-bottom: 30px;
  }
  
.about-top .about-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.about-top .about-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }
  
.about-top .about-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
.about-top .about-links ul li:first-child {
    padding-top: 0;
  }
  
.about-top .about-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
.about-top .about-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }
  
.about-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
.about-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
  }