body {
  min-width: min-content!important;
  max-width: 100%;
  display: inherit!important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 0 0;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }